body, table, input, select {
    font: 11pt Calibri;
}

body {
    margin: 0px;
}

h1, h2 {
    margin: 0px 0px 10px 0px
}

#header {
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px dashed #eee
}

#footer {
    padding: 10px;
    background-color: #eee;
    border-top: 1px dashed #ccc;
}
